<h3>Select Graph Type</h3>
<p>You may select multiple types.</p>

<ul>
<%= form_tag "metrics#create", method:"POST" do %>
  <% @chart_types.each do |chart_type| %>
      <li>
        <%= check_box_tag 'chart_selections[]', chart_type.id -%>
      </li>
  <% end %>
  <%= submit_tag("Submit") %>
<% end %>
</ul>
