<h3>Combo Chart</h3>
<%= high_chart("div_id", @chart) %>


<h3>Column Chart</h3>

<%= high_chart("my_bar_div", @chart) %>

<h3>Combo Chart</h3>
<%= high_chart("div_id", @chart) %>


<h3>Column Chart</h3>

<%= high_chart("my_column_div", @chart) %>

<div id="orders_chart" style="width:560px; height: 300px;"></div>
