<h3>Student Assignment Scores (Assignment vs Score by Student)</h3>



<%= high_chart("chart_div", @chart) %>














<h3>Student Assignment Scores (Assignment vs Score by Student) </h3>



<%= high_chart("area_div", @chart_area) %>







<h3>Class Average Scores (Completion Date vs Average Scores of Assignment) </h3>



<%= high_chart("chart_range_div", @chart_range) %>



