<h3>Student Assignment Scores (Assignment vs Score by Student)</h3>

<%= high_chart("div_id", @chart) %>



























<h3>Student Assignment Scores (Assignment vs Score by Student) </h3>

<%= high_chart("my_bar_div", @chart_area) %>



