Here you see our groups
<body>
<ul> Students : <% @students.each do |student|%> 
  <li>
    <%= student.first_name %>
    <%= student.last_name %>
  </li>
  <% end %>
</ul>


<div id="all_groups">
  <h2>Groups</h2>
    <% @groups.each do |group| %> 
  <ul id="each_group">
        <% group.each do |student|%>
      <li>
          <%= student.first_name %>
      </li>    
        <% end %>
  </ul>
    <% end %>
</div>
</body>
