/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

#app_container {
  top: 0;
  bottom:0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  padding-right:25px;
  padding-left:25px;
  padding-bottom:75px;

  position: static;
  height: 100%;
  width: 900px;

  border-right:1px solid #cecece;
  border-left:1px solid #cecece;

}

#footer {
  bottom: 0;
  clear: both;
  height: 100px;
  width: 100%;
  border-top: 1px solid gray;
  background: black;
  position: fixed;
}

li {
  list-style-type: none;
}
