/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */
html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-image:url('background_notebook.png');
  background-repeat:repeat;
}


#wrapper {
  min-height:100%;
  position:relative;
  background-image:url('background_notebook.png');
  background-repeat:repeat;
}

#app_container {
  min-height:100%;
  padding-top:25px;
  padding-bottom:125px;
  width:1000px;
  margin-right:auto;
  margin-left:auto;
}

#footer {
  clear: both;
  border-top: 1px solid gray;
  background: black;
  width:100%;
  height:45px;
  position:fixed;
  bottom:0;
  left:0;
  opacity:1;
}

nav {
  opacity:0.8;
}




/***************************/
/*GENERAL STYLES*/

table {
  -webkit-box-shadow: 1px 1px 1px gray;
   -moz-box-shadow: 1px 1px 1px gray;
        box-shadow: 1px 1px 1px gray;

  width: 100%;
  padding: 25px;
  background:white;
  border: 1px solid black;
}

li {list-style-type: none;}
