#opt_bttn {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#cvs_upload, #course_list{
  width: 540px;
  margin-left: 50px;
  margin-top: 25px;
}

#each_group {
width: 100px;
text-align:center;
border: 2px solid black;
}

#each_group li{

border: thin solid #878787;
}
