/*group - new.html.erb*/
#option_box_container {
  float: right;
}

 #student_list{
  float: left;
  width: 200px;

}

ul #student_container {

}
#student_element_in_container{
  border: 1px solid gray;
  padding:10px;
  text-align: center;
}



/*group - show.html.erb*/


#left_group_container {
  float: left;
  padding-right: 25px;
  margin-left: 50px;
}
#right_group_container {
  float: right;
  padding-left: 25px;
}




.droptrue  {
  /*ul*/
  padding:0;
  margin:0;
}

.ui-state-default {
  /*li*/
  width: 100%;
  text-align: center;
  padding:10px;
  margin-bottom:5px;
}




#group {
  /*table*/
  padding:10px;
  width: 200px;
}






.pricing-table {
  width:200px;
}




#each_group {
display: inline-block;
text-align:center;
border: 2px solid black;
width: 20%;
}

#each_group li{
border: thin solid #878787;
list-style-type: none;
}



#group_sizes{
  float:right;
}

.checkboxes{
  float: right;
}
