/*user_courses/index*/
#sub_container {
margin-top: 50px;
margin-bottom: 50px;
}

table {
  padding: 25px;
  width: 100%;
}







/*edit.html.erb*/
#edit_html_button_alert, #edit_html_button_success {
  width: 200px;
}
